


.bg-dark {
  background-color: #F7F7F7 !important;
  /* height:5rem; */

}


.navbar-dark .navbar-brand{
  width: 170px;
  margin-top: -3px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #587083;
}

.navbar-dark .navbar-nav .nav-link:hover{
  cursor: pointer;
	color: #9FB3C1;

}

.navbar-expand-md .navbar-nav {
  margin: 0 0 0 auto;
}


.mr-auto, .mx-auto {
  margin-right: 0 !important;
}


.navbar-dark .navbar-nav .active>.nav-link{

  color: #9FB3C1;

}


main {
  background-color: #F7F7F7;
  }
  
  .carousel-caption h1{
    font-size: 4vw;
    text-shadow: #000 1px 0 10px;
    font-weight: 800;
  }


  .pc_view{
    display: block;
  }
  
  .sp_view{
    display: none;
  }

.h2, h2 {
  font-size: 19px;
}

img.agr {
  margin-bottom: 12px;
}


.img-fluid {
  width: 400px;
  height: 340px;
  object-fit: cover;
}

hr{
  border-top: 1px solid rgba(0, 0, 0, .0);
}

section.voice-sec {
  background: #577082;
}

section.voice-sec h2{
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding-top: 50px;
  font-weight: 600;
  margin-bottom: 36px;
}

.list.blur{
  background: #fff;
}

.col-lg-3.col-md-3.col-6.voice {
  background: #fff;
  margin-left: 3%;
  max-width: 21%;
}

.container.marketing.voice{
  padding-bottom: 80px;
}

/* .row.voice .col-lg-3.col-md-3.col-6 {
  background: #fff;
  margin-right: 1%;
  max-width: 24%;
} */

img.voice {
  width: 255px;
}

.row.voice .col-6 {
  margin-bottom: 10px;
}

@media screen and (min-width:991px) and ( max-width:1200px) {
  img.voice {
    width: 224px;
  }
}

@media screen and (min-width:768px) and ( max-width:991px) {
  img.voice {
    width: 171px;
  }
}





@media screen and (max-width:768px) {

  .carousel-caption h1{
    font-size: 18px;
  }
  .img-fluid {
    width: 500px;
  }

  .pc_view{
    display: none;
  }

  .sp_view{
    display: block;
  }
  .img-fluid {
    margin-bottom: 10px;
  }

  .col-lg-3.col-md-3.col-6 p {
font-size: 15px;
  }

  img.voice {
    width: 171px;
  }

  .row.voice .col-6 {
    margin-right: -14px;
    margin-left: 3px;
}

}


