



.bg-dark {
  background-color: #F7F7F7 !important;
  /* height:5rem; */

}


.navbar-dark .navbar-brand{
  width: 170px;
  margin-top: -3px;
  margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #587083;
}

.navbar-dark .navbar-nav .nav-link:hover{
  cursor: pointer;
	color: #9FB3C1;

}

.navbar-expand-md .navbar-nav {
  margin: 0 0 0 auto;
}


.mr-auto, .mx-auto {
  margin-right: 0 !important;
}


.navbar-dark .navbar-nav .active>.nav-link{

  color: #9FB3C1;

}

ul{
  padding-left:0;
}

li{
  list-style:none;
  float: left;
  margin-right: 18px;
}


main {
  background-color: #F7F7F7;
  }
  
  .carousel-caption h1{
    font-size: 4vw;
    text-shadow: #000 1px 0 10px;
    font-weight: 800;
  }


  .pc_view{
    display: block;
  }
  
  .sp_view{
    display: none;
  }

.h2, h2 {
  font-size: 19px;
}

h2.”h2lu” {
  font-size: 46px;
  font-weight: 700;
  color: #587083;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 2px;
}


img.agr {
  margin-bottom: 12px;
}

.row{
  margin-left: 0px;
}

.lu-img {
  text-align: center;
}

.btn-secondary{
width: 100%;
}


.img-fluid {
  width: 400px;
  height: 340px;
  object-fit: cover;
}

hr{
  border-top: 1px solid rgba(0, 0, 0, .0);
}

section.voice-sec {
  background: #577082;
  margin-bottom: 100px;
}

section.voice-sec h2{
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding-top: 100px;
  font-weight: 600;
  margin-bottom: 80px;
}

.list.blur{
  background: #fff;
}

.col-lg-3.col-md-3.col-6.voice {
  background: #fff;
  margin-left: 3%;
  max-width: 21%;
}

.container.marketing.voice{
  padding-bottom: 100px;
}

/* .row.voice .col-lg-3.col-md-3.col-6 {
  background: #fff;
  margin-right: 1%;
  max-width: 24%;
} */

img.voice {
  width: 255px;
}

.row.voice .col-6 {
  margin-bottom: 10px;
}

@media screen and (min-width:991px) and ( max-width:1200px) {
  img.voice {
    width: 224px;
  }
}

@media screen and (min-width:768px) and ( max-width:991px) {
  img.voice {
    width: 171px;
  }
}




.text-center {
  margin-bottom: 110px;
}


.img-fluid2 {
  width: 100%;
  height: 340px;
  object-fit: cover;
  margin-bottom: 20px;
}

.contact {
  width: 60%;
  margin: 0 auto;
}


@media screen and (max-width:768px) {

  .carousel-caption h1{
    font-size: 18px;
  }
  .img-fluid {
    width: 500px;
  }

  .pc_view{
    display: none;
  }

  .sp_view{
    display: block;
  }
  .img-fluid {
    margin-bottom: 10px;
  }

  .col-lg-3.col-md-3.col-6 p {
font-size: 15px;
  }

  img.voice {
    width: 171px;
  }

  .row.voice .col-6 {
    margin-right: -14px;
    margin-left: 3px;
}

li{
  float: none;
  margin-bottom: 15px;
}

li.item.nav-link {
  margin-bottom: -3px;
}


ul.l-fnav-contents a {
  color: #587083;
}


.row.gall1 .col-6.col-md-8 img {
  height: 210px;
}

.row.gall1 .col-6.col-md-4 img {
  height: 210px;
}

.row.gall2 .col-4.col-md-4 img {
  height: 170px;
  width: 100px;
}


.row.gall3 .col-6 img {
  height: 210px;
}

.contact {
  width: 80%;
}

}






a.btn.btn-contact {
    background: #6c757d;
    width: 160px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 80px;
}

p.contact-btn {
  text-align: center;
}

h2.”h2con” {
  font-size: 46px;
  font-weight: 700;
  color: #587083;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

div#lineup {
  padding-top: 72px;
  margin-top: -72px;
}

section#contact{
  padding-top: 72px;
  margin-top: -72px;
}


.l-footer {
  position: relative;
  z-index: 1;
  margin-top: auto
}

@media screen and (min-width: 768px) {
  .l-footer::before {
      content:"";
      position: absolute;
      top: -87px;
      left: calc(50% - 198px);
      z-index: -1;
      width: 200px;
      height: 99px;
      background-image: url("../img/common/2024/sprout_5set_off.png");
      background-size: contain;
      background-position: center bottom;
      transform: translateY(100%);
      transition: transform .3s ease-out
  }


}

@media screen and (min-width: 768px) {
  .l-footer::after {
      content:"";
      position: absolute;
      top: -87px;
      left: calc(50% - 198px);
      z-index: -1;
      width: 200px;
      height: 99px;
      background-image: url("../img/common/2024/sprout_5set_on.png");
      background-size: contain;
      opacity: 0;
      transition: opacity .3s ease
  }
}

.l-footer.-grow::before {
  transform: translateY(0);
  transition-delay: 1s
}

.l-footer.-grow::after {
  opacity: 1;
  transition-delay: 1.5s
}

.l-footer>.bike {
  position: absolute;
  bottom: calc(100% - 3px);
  left: 100%;
  z-index: 50;
  width: 180px;
  height: 100px;
  pointer-events: none
}

@media screen and (min-width: 768px) {
  .l-footer>.bike {
      width:300px;
      height: 167px
  }
}

.l-footer>.bike::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/common/2024/step_bike.png);
  background-position: 0 0;
  background-size: 180px 1797px
}

@media screen and (min-width: 768px) {
  .l-footer>.bike::before {
      background-size:300px 2995px
  }
}

.l-footer>.bike.-run {
  -webkit-animation: cycling 4s linear infinite;
  animation: cycling 4s linear infinite
}

@media screen and (min-width: 768px) {
  .l-footer>.bike.-run {
      -webkit-animation-duration:8s;
      animation-duration: 8s
  }
}

.l-footer>.bike.-run::before {
  -webkit-animation: step_bike_sp 1.6s steps(18, end) infinite;
  animation: step_bike_sp 1.6s steps(18, end) infinite
}

@media screen and (min-width: 768px) {
  .l-footer>.bike.-run::before {
      -webkit-animation:step_bike 1s steps(18, end) infinite;
      animation: step_bike 1s steps(18, end) infinite
  }
}

.l-footer-wrap {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 38px 16px 24px 25px;
  -ms-grid-rows: 44px 40px 1fr 40px auto 40px auto;
  -ms-grid-columns: 1fr 40px auto;
  grid-template: "logo sns" 44px "nav nav" 1fr "util pagetop" auto "copyright pagetop" auto/1fr auto;
  gap: 40px;
  background-color: var(--black24)
}

@media screen and (min-width: 768px) {
  .l-footer-wrap {
      margin-left:auto;
      margin-right: auto;
      padding-top: 60px;
      padding-left: 56px;
      padding-right: 118px;
      padding-bottom: 48px;
      -ms-grid-rows: auto;
      grid-template: "logo nav  nav" "copyright util sns";
      gap: 70px 50px
  }
}

.l-footer-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  margin: 0;
  width: 185px;
  height: 44px;
  margin-left: 16px;
}

.l-footer-logo img {
  width: 100%;
  height: auto;
  vertical-align: top
}

.l-fnav {
  display: contents
}

.l-fnav-contents {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav
}

.l-fnav-inner {
  display: contents
}

@media screen and (min-width: 768px) {
  .l-fnav-inner {
      -ms-grid-row:1;
      -ms-grid-column: 3;
      grid-area: sns;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      -moz-column-gap: 56px;
      column-gap: 56px;
      padding-right: 4px
  }
}

.l-fnav-util {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: util
}

.l-fnav-sns {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sns
}

.l-footer-pagetop {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 10px;
  border-top: 1px solid var(--lightgreen);
  border-left: 1px solid var(--lightgreen);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 49px;
  height: 190px
}

@media screen and (min-width: 768px) {
  .l-footer-pagetop {
      bottom:0;
      right: 0;
      width: 49px;
      height: 190px
  }
}

@media screen and (min-width: 768px)and (hover: hover)and (min-width: 768px) {
  .l-footer-pagetop {
      transition:background-color .3s
  }

  .l-footer-pagetop:hover {
      background-color: var(--lightgreen)
  }
}

.l-footer-pagetop a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  color: var(--lightgreen);
  text-align: center;
  text-decoration: none;
  white-space: nowrap
}

@media screen and (min-width: 768px) {
  .l-footer-pagetop a {
      font-size:.875rem;
      line-height: 1.2857142857
  }
}

@media screen and (min-width: 768px)and (hover: hover)and (min-width: 768px) {
  .l-footer-pagetop a {
      transition:color .3s
  }

  .l-footer-pagetop a:hover {
      color: var(--black24)
  }
}

.l-footer-pagetop a::before {
  content: "";
  display: block;
  width: 35px;
  height: 43px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/common/bg_pagetop_sp.png);
  background-size: cover
}

@media screen and (min-width: 768px) {
  .l-footer-pagetop a::before {
      background-position:0 0;
      background-image: url(../img/common/bg_pagetop_pc.png);
      background-size: 35px 38px;
      height: 59px;
      background-position: center
  }
}

.l-footer-pagetop a .en {
  position: absolute;
  top: 104px;
  left: -20px;
  rotate: 90deg;
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  letter-spacing: .06em;
  font-feature-settings: "palt" 1;
  font-size: 1rem;
  letter-spacing: .12em;
  line-height: 1.3
}

.l-footer-copyright {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  margin: 0;
  grid-area: copyright;
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  letter-spacing: .06em;
  font-feature-settings: "palt" 1;
  font-size: .6875rem;
  line-height: 1.1818181818;
  color: #587083;
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .l-footer-logo {
      -ms-grid-row:1;
      -ms-grid-column: 1
  }

  .l-fnav-contents {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
      margin-left: auto;
  }

  .l-fnav-inner {
      -ms-grid-row: 3;
      -ms-grid-column: 5
  }

  .l-fnav-util {
      -ms-grid-row: 3;
      -ms-grid-column: 3
  }

  .l-fnav-sns {
      -ms-grid-row: 3;
      -ms-grid-column: 5
  }

  .l-footer-copyright {
      -ms-grid-row: 3;
      -ms-grid-column: 1
  }

}

@media screen and (min-width: 768px) {
  .l-footer-copyright {
      -ms-grid-row-align:center;
      align-self: center
  }
  ul.l-fnav-contents a {
    color: #587083;
}




}
